:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    font-style: normal;
}

.container {
    max-width: 1440px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 70px;
    padding: 100px 165px;
}

.h1_text {
    font-weight: 700;
    font-size: 56px;
    line-height: 48px;
    letter-spacing: -2px;
    color: var(--very-dark-magenta);
}

.p_main {
    font-weight: 500;
    font-size: 19px;
    line-height: 25px;
    letter-spacing: -0.633333px;
    color: var(--dark-grayish-magenta);
    margin-top: 27px;
}

.rating {
    background-color: var(--light-grayish-magenta);
    width: 445px;
    padding: 16px 40px;
    margin: 16px;
    border-radius: 8px;
}

.rating2 {
    margin-left: 48px;
}

.rating3 {
    margin-left: 95px;
}

.rating span {
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    color: var(--very-dark-magenta);
    padding: 20px 10px;
}

blockquote {
    padding-top: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.303571px;
}

.opinion {
    background-color: var(--very-dark-magenta);
    color: var(--white);
    max-width: 350px;
    width: 100%;
    min-height: 234px;
    padding: 30px;
    border-radius: 10px;
}

.opinion img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 23px;
}

.opinion2 {
    margin-top: 16px;
    padding-right: 40px;
}

.opinion3 {
    margin-top: 37px;
}

.box1 {
    max-width: 445px;
    width: 100%;
}

.box2 {
    max-width: 540px;
    width: 100%;
}

.box3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    grid-column-start: -1;
    grid-column-end: -3;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.name {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    color: var(--white);
}

.p_buyer {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 16px;
    color: var(--soft-pink);
    padding-top: 3px;
}

.frame {
      overflow: auto;
}

.author {
      float: left;
}

/* 
    320px — 480px: Mobile devices.
    481px — 768px: iPads, Tablets.
    769px — 1024px: Small screens, laptops.
    1025px — 1200px: Desktops, large screens.
    1201px and more — Extra large screens, TV. 
*/
@media screen and (min-width: 768px) and (max-width: 1440px) {
    .container { 
        padding: 50px;
    }
}    


@media screen and (max-width: 480px) {

    .container {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        padding: 0 24px;
        display: block;
    }

    .h1_text {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 32px;
        text-align: center;
        letter-spacing: -1.42857px;
        margin: 82px 65px 17px 65px;
      }

    .p_main {
        width: 100%;
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 25px;
        text-align: center;
        letter-spacing: -0.633333px;
        padding: 0px 65px;
        margin: 0 0 40px 0;
    }

    .rating {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 0 10px 0;
    }

    .rating span {
        padding: 3px 10px;
    }

    .stars {
        width: 100%;
        text-align: center;
    }

    .box3 {
        display: block;
    }

    .opinion {
        max-width: 100%;
    }

    .opinion1 {
        margin-top: 49px;
    }

    .opinion2, .opinion3 {
        margin-top: 16px;
    }
        
  }